* {
    background-color: rgb(218, 198, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

img {
    width: 40%;
    height: auto;
}

span {
    color: purple;

}

h1 {
    border: 2px aqua;
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}