* {
    background-color: black;
    border: 1px rgb(6, 192, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

img {
    width: 40%;
    height: auto;
}

